/* General body & tag styles */
@import url("https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: fit-content;
  /* background-color: black; */
  font-family: "Play", sans-serif;
}

li {
  list-style: none;
  padding: 7px;
}

a {
  text-decoration: none;
  color: white;
}

/* End of General body & tag styles */

/* hero background */

.container {
  width: 85%;
  margin: auto;
}

[data-image="hero_background_image"] {
  background-image: url("../Assets/HERO/hero-1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  background-position: top center;
}
/* end of hero background */

/* Navbar styles */

nav {
  display: flex;
  justify-content: space-between;
  height: 144px;
  align-items: center;
}

[data-list="nav_items_list"] {
  display: flex;
  gap: 20px;
  align-items: center;
  padding: 10px;
}

[data-nav-icon="nav_icons_body"] {
  display: flex;
  gap: 25px;
}

[data-nav-icon="nav_icons_body"]::before {
  content: "";
  width: 1px;
  background: rgba(225, 225, 225, 0.2);
  height: 13px;
  margin: auto;
  margin-right: 25px;
}

.nav_icons {
  width: 18px;
  height: 18px;
  color: white;
  font-size: 16px;
}

.nav_link {
  position: relative;
  text-decoration: none;
  padding: 10px;
}

.nav_link::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: 0;
  left: 50%;
  background-color: aqua;
  transition: width 0.5s ease, left 0.5s ease;
}

.nav_link:hover::after {
  width: 100%;
  left: 0;
}

.nav_link.active {
  border-bottom: 2px solid aqua;
  padding-top: 9.5px;
}

/* End of Navbar */

/* Hero Section */
.hero-section {
  height: calc(100% - 144px);
  /* width: 100%; */
  display: flex;
  align-items: center;
}

.hero-section .about-us {
  max-width: 555px;
  color: white;
}

.hero-section .about-us h5 {
  font-size: 15px;
  display: block;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin-bottom: 18px;
}
.hero-section .about-us h1 {
  font-size: 60px;
  font-weight: 700;
  line-height: 70px;
  text-transform: uppercase;
  margin-bottom: 38px;
}
.hero-section .about-us button {
  display: inline-block;
  background-color: inherit;
  border: none;
  outline: none;
  font-size: 15px;
  padding: 14px 32px 12px;
  text-transform: uppercase;
  letter-spacing: 2px;
  z-index: 1;
  color: white;
  border: 2px solid #00bfe7;
}

.hero-section .about-us button::after {
  position: absolute;
  right: 0;
  bottom: 0;
  height: 30px;
  width: 30px;
  border-right: 2px solid #00bfe7;
  border-bottom: 2px solid #00bfe7;
  content: "";
  z-index: -1;
}

.hero-section .about-us .hero-numbers {
  margin-top: 60px;
  display: flex;
  gap: 16px;
  font-size: 18px;
}

.hero-section .about-us .hero-numbers p {
  display: inline-flex;
  color: #adadad;
  gap: 16px;
  position: relative;
}

.hero-section .about-us .hero-numbers p.active {
  color: white;
}

.hero-section .about-us .hero-numbers p::after {
  position: absolute;
  left: 0;
  bottom: -6px;
  width: 100%;
  height: 1px;
  background: #adadad;
  content: "";
}

.hero-section .about-us .hero-numbers p.active::after {
  background: white;
  height: 2px;
}
/* End Hero Section */

/* Services Section */
[data-services="services_main_section"]{
  background: #100028;
  color: #fff;
  font-family: "Josefin Sans", sans-serif;
}

[data-services-details="services-body"]{
  display: flex;
}

.services_body{
  display:flex;
  /* flex-wrap: wrap; */
  padding-top: 90px;
  padding-bottom: 90px;
}

.services_details{
  display: grid;
  grid-template-columns: repeat(2,1fr);
}

[data-services="services_main_section"] p{
  color: #adadad;
  font-family: "Josefin Sans", sans-serif;
}
/* End of Services Section */

/* Video Section */
[data-video-section="video_section_main"]{
  background: #100028;
  width: 100%;
  /* height: 664px; */
}

.video_section_body{
  display: grid;
  grid-template-columns: repeat(3,2fr);
  /* grid-column-start: 1; */
  /* grid-template-columns: repeat(auto-fit, minmax(350px,2fr)); */
  /* grid-auto-rows: 200px; */
  /* grid-auto-flow: dense; */
}

.video_section_body img{
  width: 100%;
}
/* End of Video Section */

/* Counter Section */
[data-counter="counter_section"]{
  background: #100028;
  height: 700px;
  display: flex;
  align-items: center;
}

.counter_content{
  display: flex;
  /* flex-wrap: wrap; */
  align-items: center;
  justify-content: space-between;
  position: relative;
  height: 400px;
}

.counter_first_items{
  width: 255px;
  height: 255px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #1a083d;
  transform: rotate(45deg);
  margin-bottom: -180px;
}

.counter_first_items::before{
  /* position: absolute; */
  border-left: 1px solid #333333;
  border-top: 1px solid #333333;
  content: "";
  /* height: 676px; */
  /* width: 500px; */
  left: 0px; 
  bottom: 0px;
}

.counter_second_items{
  margin-top: -180px;
  width: 255px;
  height: 255px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #1a083d;
  transform: rotate(45deg);
}

/* .counter_second_items::before{} */

.counter_third_items{
  width: 255px;
  height: 255px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #1a083d;
  transform: rotate(45deg);
  margin-bottom: -180px;
}

/* .counter_third_items::before{} */

.counter_fourth_items{
  /* position: absolute; */
  margin-top: -180px;
  width: 255px;
  height: 255px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #1a083d;
  transform: rotate(45deg);
}

/* .counter_fourth_items::before{} */

.counter_items_content{
  transform: rotate(-45deg);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #fff;
}

.counter_items_content h2{
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 7px;
}

.counter_items_image{
  /* object-fit: contain; */
  font-size: 18px;
  height: 45px;
  width: 45px;
  margin-bottom: 10px;
}
/* End of Counter Section */

/* Animations */

@keyframes borders {
  50% {
    border-bottom: 2px solid aqua;
  }
}

/* End of Animations */
