/* General body & tag styles */
@import url("https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: fit-content;
  /* background-color: black; */
  font-family: "Play", sans-serif;
}

.nav_items_list li {
  list-style: none;
  padding: 7px;
}

.nav_items_list a {
  text-decoration: none;
  color: white;
}

/* End of General body & tag styles */

/* hero background */

.container {
  width: 80%;
  margin: auto;
}

[data-image="hero_background_image"] {
  background-image: url("../Assets/HERO/hero-1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  background-position: top center;
}
/* end of hero background */

/* Navbar styles */

nav {
  display: flex;
  justify-content: space-between;
  height: 144px;
  align-items: center;
}

[data-list="nav_items_list"] {
  display: flex;
  gap: 20px;
  align-items: center;
  padding: 10px;
  color: #fff;
}

[data-nav-icon="nav_icons_body"] {
  display: flex;
  gap: 25px;
}

[data-nav-icon="nav_icons_body"]::before {
  content: "";
  width: 1px;
  background: rgba(225, 225, 225, 0.2);
  height: 13px;
  margin: auto;
  margin-right: 25px;
}

.nav_icons {
  width: 18px;
  height: 18px;
  color: white;
  font-size: 16px;
}

.nav_link {
  position: relative;
  text-decoration: none;
  padding: 10px;
}

.nav_link::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: 0;
  left: 50%;
  background-color: aqua;
  transition: width 0.5s ease, left 0.5s ease;
}

.nav_link:hover::after {
  width: 100%;
  left: 0;
}

.nav_link.active {
  border-bottom: 2px solid aqua;
  padding-top: 9.5px;
}

/* End of Navbar */

/* Hero Section */
.hero-section {
  height: calc(100% - 144px);
  /* width: 100%; */
  display: flex;
  align-items: center;
}

.hero-section .about-us {
  max-width: 555px;
  color: white;
}

.hero-section .about-us h5 {
  font-size: 15px;
  display: block;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin-bottom: 18px;
}
.hero-section .about-us h1 {
  font-size: 60px;
  font-weight: 700;
  line-height: 70px;
  text-transform: uppercase;
  margin-bottom: 38px;
}
.hero-section .about-us button {
  display: inline-block;
  background-color: inherit;
  border: none;
  outline: none;
  font-size: 15px;
  padding: 14px 32px 12px;
  text-transform: uppercase;
  letter-spacing: 2px;
  z-index: 1;
  color: white;
  border: 2px solid #00bfe7;
}

.hero-section .about-us button::after {
  position: absolute;
  right: 0;
  bottom: 0;
  height: 30px;
  width: 30px;
  border-right: 2px solid #00bfe7;
  border-bottom: 2px solid #00bfe7;
  content: "";
  z-index: -1;
}

.hero-section .about-us .hero-numbers {
  margin-top: 60px;
  display: flex;
  gap: 16px;
  font-size: 18px;
}

.hero-section .about-us .hero-numbers p {
  display: inline-flex;
  color: #adadad;
  gap: 16px;
  position: relative;
}

.hero-section .about-us .hero-numbers p.active {
  color: white;
}

.hero-section .about-us .hero-numbers p::after {
  position: absolute;
  left: 0;
  bottom: -6px;
  width: 100%;
  height: 1px;
  background: #adadad;
  content: "";
}

.hero-section .about-us .hero-numbers p.active::after {
  background: white;
  height: 2px;
}
/* End Hero Section */

/* Services Section */
[data-services="services_main_section"]{
  background: #100028;
  color: #fff;
  font-family: "Josefin Sans", sans-serif;
}

[data-services-details="services-body"]{
  display: flex;
}

.services_body{
  display:flex;
  padding-top: 90px;
  padding-bottom: 90px;
}

.services_details{
  display: grid;
  grid-template-columns: repeat(2,1fr);
}

[data-services="services_main_section"] p{
  color: #adadad;
  font-family: "Josefin Sans", sans-serif;
}
/* End of Services Section */

/* Video Section */
/* [data-video-section="video_main_section"]{
  background: #100028;
  width: 100%;
  height: 100%;
}

.video_section_body{
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100%;
} */

/* .first_video_section_items{ */
  /* display: flex; */
  /* width: 100%; */
  /* grid-row: 1/7; */
/* } */

/* .second_video_section_items{ */
  /* width: 100%; */
  /* height: 100%; */
/* } */

/* .video_main_image{
  max-width: 100%;
  height: 70%;
  object-fit: contain;
  image-resolution: 1024px;
} */

/* .video_icon_content{
  border: 1px solid #fff;
  height: 64px;
  width: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
} */

/* .video_play_body{ */
  /* border: 1px solid #fff;
  height: 150px;
  width: 100%; */
/* } */

/* .video_play_icon{
  font-size: 18px;
  height: 45px;
  width: 45px;
} */

/* .video_section_body {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

.grid-item {
  position: relative;
}

.video_main_image {
  width: 100%;
  height: auto;
  display: block;
}

.video_icon_content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
}

.grid-item:hover .video_icon_content {
  display: block;
}

.video_play_icon {
  width: 50px;
  height: 50px;
} */

.video_section_body {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 200px);
  gap: 10px;
}

.grid-item {
  position: relative;
}

.grid-item.large {
  grid-column: span 2;
  grid-row: span 2;
}

.video_main_image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.video_icon_content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
}

.grid-item:hover .video_icon_content {
  display: block;
}

.video_play_icon {
  width: 50px;
  height: 50px;
}
/* End of Video Section */

/* Counter Section */
[data-counter="counter_section"]{
  background: #100028;
  height: 700px;
  display: flex;
  align-items: center;
}

.counter_content{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 30px;
  /* position: relative; */
  height: 400px;
}

.counter_first_items{
  width: 250px;
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #1a083d;
  transform: rotate(45deg);
  margin-bottom: -180px;
}

.counter_first_items::before{
  /* position: absolute; */
  border-left: 1px solid #333333;
  border-top: 1px solid #333333;
  content: "";
  /* height: 676px; */
  /* width: 500px; */
  left: 0px; 
  bottom: 0px;
}

.counter_second_items{
  margin-top: -180px;
  width: 250px;
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #1a083d;
  transform: rotate(45deg);
}

.counter_third_items{
  width: 250px;
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #1a083d;
  transform: rotate(45deg);
  margin-bottom: -180px;
}

.counter_fourth_items{
  /* position: absolute; */
  margin-top: -180px;
  width: 250px;
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #1a083d;
  transform: rotate(45deg);
}

.counter_items_content{
  transform: rotate(-45deg);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #fff;
}

.counter_items_content h2{
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 7px;
}

.counter_items_image{
  /* object-fit: contain; */
  font-size: 18px;
  height: 45px;
  width: 45px;
  margin-bottom: 10px;
}
/* End of Counter Section */

/* Teams Section */
[data-teams="teams_main_section"]{
  background: url("../Assets/TEAMS/team-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  height: fit-content;
}

.teams_image img{
  width: 257.8px;
  height: 300px;
  padding: 0;
  margin: 0;
}
/* End of Teams Section */

/* CAT Section */
[data-cat="call-to-action"]{
  background: url("../Assets/CAT/callto-bg.jpg");
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
  height: 450px;
}
/* End of CAT Section */

/* Footer Section */
[data-footer="footer-section"]{
  background: #100028;
  height: 500px;
}

.footer_logo_section{
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.footer_icon_body{
  background: rgba(255, 255, 255, 0.1);
}
/* End of Footer Section */

/* Animations */

@keyframes borders {
  50% {
    border-bottom: 2px solid aqua;
  }
}

/* End of Animations */
